<div class="cmsMobileNavBarWrapper">

    <div class="mobileNavBarButtonArray">
        <a class="button" id="button1" href="{{{rootPath}}}admin/customers"><img src="{{{rootPath}}}images/ultiscape/icons/users.svg"><p>Customers</p></a>
        <a class="button" id="button3" href="{{{rootPath}}}admin/jobs"><img src="{{{rootPath}}}images/ultiscape/icons/calendar_month.svg"><p>Jobs</p></a>
        <a class="button" id="button4" href="{{{rootPath}}}admin/invoices"><img src="{{{rootPath}}}images/ultiscape/icons/document.svg"><p>Invoices</p></a>
        <a class="button" id="button2" href="{{{rootPath}}}admin/estimates"><img src="{{{rootPath}}}images/ultiscape/icons/document.svg"><p>Estimates</p></a>
        <span class="button" id="button5"><img src="{{{rootPath}}}images/ultiscape/icons/drag.svg"></span>
    </div>

    <span id="mobileNavBarMoreMenuHider">
        <div id="mobileNavBarMoreMenuWrapper">
            <p><a href="{{{rootPath}}}admin/inventory">Inventory</a></p><p>Item 2</p><p>Item 3</p><p>Item 4</p>
        </div>
    </span>


</div>
