<span class="businessSelectorButtonDropdownHider" id="bsMenu">
    <div class="businessSelectorButtonDropdownWrapper xyCenteredFlex flexDirectionColumn">
        <p><a href="{{{rootPath}}}admin/selectbusiness">Switch Business</a></p>
        <p><a href="{{{rootPath}}}admin/businesssettings">Business Settings</a></p>
        <br><a href="{{{rootPath}}}admin/createbusiness" class="smallButtonWrapper greenButton xyCenteredFlex defaultMainShadows" style="padding: .2em;"><img style="width: 2em; height: 2em;" src="{{{rootPath}}}images/ultiscape/icons/plus.svg"></a>
    </div>
</span>

<span class="profilePictureButtonDropdownHider" id="pfpMenu">
    <div class="profilePictureButtonDropdownWrapper xyCenteredFlex flexDirectionColumn">
        <p><a href="{{{rootPath}}}admin/editprofile">Edit Profile</a></p>
        <a href="{{{rootPath}}}admin/scripts/standalone/logout.script" class="smallButtonWrapper orangeButton xyCenteredFlex defaultMainShadows" style="padding: .2em;"><img style="width: 2em; height: 2em;" src="{{{rootPath}}}images/ultiscape/icons/exit_right.svg"></a>
    </div>
</span>