<div class="cmsSideBarWrapper">


    <a class="noUnderline sideBarButton defaultAll4InsetShadow aniBold" id="button1" href="{{{rootPath}}}admin/customers"><img src="{{{rootPath}}}images/ultiscape/icons/users.svg"><p>Customers</p></a>
    <a class="noUnderline sideBarButton defaultAll4InsetShadow aniBold" id="button3" href="{{{rootPath}}}admin/jobs"><img src="{{{rootPath}}}images/ultiscape/icons/calendar_month.svg"><p>Jobs</p></a>
    <a class="noUnderline sideBarButton defaultAll4InsetShadow aniBold" id="button4" href="{{{rootPath}}}admin/invoices"><img src="{{{rootPath}}}images/ultiscape/icons/document.svg"><p>Invoices</p></a>
    <a class="noUnderline sideBarButton defaultAll4InsetShadow aniBold" id="button2" href="{{{rootPath}}}admin/estimates"><img src="{{{rootPath}}}images/ultiscape/icons/document.svg"><p>Estimates</p></a>
    <a class="noUnderline sideBarButton defaultAll4InsetShadow aniBold" id="button5"><img src="{{{rootPath}}}images/ultiscape/icons/drag.svg"><p>More...</p></a>

    <div id="smallBottomLinks"><a class="noUnderline" href="{{{rootPath}}}admin/overview">Overview</a> | <a class="noUnderline" href="{{{rootPath}}}admin/sitemap">Sitemap</a></div>

    <div id="sideBarMoreMenu">
        <a class="noUnderline sideBarButton defaultAll4InsetShadow aniBold" id="button6" href="{{{rootPath}}}admin/inventory"><img src="{{{rootPath}}}images/ultiscape/icons/archive.svg"><p>Inventory</p></a>
    </div>

</div>